:root {
    --grid-main-line: rgba(163, 158, 158, 0.89);
    --grid-sub-line: rgba(95, 92, 92, 0.3);
    
} 
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color:rgba(37, 36, 36, 0.897);
    background-color:whitesmoke;
    background-image: linear-gradient(var(--grid-main-line) 2px, transparent 2px),
    linear-gradient(90deg, var(--grid-main-line) 2px, transparent 2px),
    linear-gradient(var(--grid-sub-line) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-sub-line) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

nav {
    padding: 16px;
    border-bottom: 1px rgb(179, 199, 218) solid;
    background-color: aliceblue;
}

#app {
    padding: 24px;
    padding-top: 16px;
    position: relative;
}

.node-head {
    border: 1px rgba(44, 43, 43, 0.836) solid;
    border-radius: 3px;
    padding: 16px;
    background: white;
    cursor: grab;
    position: absolute;
    top: 5;
    left: 5;
    overflow: hidden;
}

.node-head:active {
    cursor: grabbing;
}


.node-head button {
    cursor: pointer;
}

.node-head h1 {
    font-size: larger;
}

.node-head h2 {
    font-size: large;
}

.control-group {
    display: flex;
}

.io {
    display: inline-flex;
    flex-wrap: wrap;
}

.io>div {
    margin: 6px;
}

.display {
    display: inline-block;
    border: none;
    min-width: 0;
}

.vertex {
    height: 9px;
    width: 9px;
    margin: 3px;
    border-radius: 9001px;
    display: inline-block;
}

.delete {
    float: right;
    position: relative;
    top: -15px;
}

input {
    cursor: pointer;
}

#messages {
    position: absolute;
    bottom: 0;
    left: 0;
}

.msg {
    padding: 24px;
    font-size: larger;
    border-radius: 3px;
    margin: 6px;
}

.msg.warn {
    background-color: rgba(255, 166, 0, 0.712);
    color: rgb(114, 28, 2);
    font-weight: bold;
    border-color: rgb(114, 28, 2);;
}